#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=FIRST Tech Challenge Live
Exec=/home/pi/bin/ftcscore
Icon=ftcscore-Default
StartupNotify=true
